{:deps    {org.clojure/clojure             {:mvn/version "1.11.1"}
           org.clojure/clojurescript       {:mvn/version "1.11.60"}
           org.clojure/data.json           {:mvn/version "2.4.0"}
           reagent/reagent                 {:mvn/version "1.2.0"}
           com.bhauman/figwheel-main       {:mvn/version "0.2.18"}
           com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
           cljsjs/react                    {:mvn/version "18.2.0-0"}
           cljsjs/react-dom                {:mvn/version "18.2.0-0"}}
 :paths   ["src" "resources" "target"]
 :aliases {:dev {:main-opts ["-m" "figwheel.main" "--build" "dev" "--repl"]}}}